body{
	background-color: #F0F0F0;
	font-family: "Candara",sans-serif;
}

p{
	color: #606060;
}

.fixed_bar{
	position: fixed;
	margin: 60px;
}
.identity{
	position: fixed;
	overflow: visible;
	height: 25%;
	margin-left: 90px;
	width: 12%;
	border-radius: 150px;
	margin-bottom: 50px;
	margin-top: 50px;
	
	
}
.name {
	margin-top: 260px;
	margin-left: 70px;
	
	color: #000;
    text-align: center;
	font-size: 25px;
	
	
}
.work {
	margin-top: 270px;
	margin-left: 85px;
	
	color: #484848;
	font-size: 20px;
	
	
}
.title {
    text-align: left;
	color: #484848;
    text-align: left;
	
}
.logo{
	height: 40px;
	width: 40px;
	padding: 10px;
	margin: 10px;
}

.socialNetwork{
	margin-top: 320px;
	margin-left: 60px;
}
.trait {
	color: #808080 ;
	border-style: solid;
	border-width: 0.3px;
}

h5 {
	padding-top: 2px;
	margin-top: 2px;
}
.italic{ 
  font-style: italic; 
  font-size: 0.8em;
}

.dateSmall{
    font-size: 0.8em;
	text-decoration:none;
}
.domaineSmall{
    font-style: italic; 
	
	font-size: 1em;
}
a:link{text-decoration:none;
	color: #000;
}